<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyg.dao.TeacherDao">

    <sql id="selectSql">
        SELECT name,age,phone_number FROM teacher
    </sql>

    <select id="getTeacherList" resultType="com.wyg.entity.Teacher">
        <include refid="selectSql"/>
    </select>

</mapper>